.git/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.DS_Store
**/.DS_Store

.env
**/.env
api_keys.txt
script/api_keys.txt

.venv/
script/.venv/
outputs/
script/outputs/

keepalive.sh
